---
import BaseLayout from '../../layouts/BaseLayout.astro'
import logo_group from '../assets/logo-group.svg'
import logo_ideo from '../assets/logo-ideo.png'
import abatar from '../assets/abatar.jpg'
---
<BaseLayout title="Acerca de...">
  <h1>Acerca de....</h1>
  <table class="tabla_about">
  <tr><td class="cell"><p><img class="about_img" src={abatar}></p>
  
  <p><img class="about_img" src={logo_ideo}></p>
  
  <p><img class="about_img" src={logo_group}></p></td>
  <td  class="cell"><p><b>Autor: </b>Álvaro Quinteiro Solano</p>
  <p><b>Profesores: </b>Diego Gómez Díaz y Francisco Casquero González</p>
  <p><b>Asignatura: </b>TIC</p>
  <p><b>Proyecto:</b>Página de cataloación de herramientas de taller.</p>
  <hr>
  <h4>Herraminetas usadas:</h4>
  <p>Airtable</p>
  <p>Nodejs</p>
  <p>Microsoft Visual Code</p>
  <p>Astro</p>
  <p>deapdreamgenerator</p>
  <p>Brand maker</p>
  <p>Figma</p>
  <hr>
  <h4>Ubicación del colegio:</h4>
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.629353885572!2d-3.701216384156069!3d40.54977717934993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422bfc03cbd63d%3A0xbf92327cd85ddb1e!2sEscuela%20IDEO%20%7C%20Colegio%20Privado%20en%20Madrid!5e0!3m2!1sen!2ses!4v1650211160282!5m2!1sen!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
  </td></tr></table>
</BaseLayout>