---
import BaseLayout from '../../layouts/BaseLayout.astro'
import logo_group from '../../assets/logo-group.svg'
import logo_ideo from '../../assets/logo-ideo.png'
import abatar from '../../assets/abatar.jpg'
---
<BaseLayout title="Acerca de...">
  <h1>Acerca de....</h1>
  <table class="tabla_about">
  <tr><td class="cell"><p><img class="about_img" src={abatar}></p>
  
  <p><img class="about_img" src={logo_ideo}></p>
  
  <p><img class="about_img" src={logo_group}></p></td>
  <td  class="cell"><p><b>Autor: </b>Álvaro Quinteiro Solano</p>
  <p><b>Profesores: </b>Diego Gómez Díaz y Francisco Casquero González</p>
  <p><b>Asignatura: </b>TIC</p>
  <p><b>Proyecto:</b>Página de cataloación de herramientas de taller.</p>
  <hr>
  <h4>Herraminetas usadas:</h4>
  <p><a href="https://airtable.com">Airtable</a> - Base de datos</p>
    <p><a href="https://nodejs.org/en/">Node.js</a> - Servidor werb </p>
    <p><a href="https://code.visualstudio.com/">Microsoft Visual Code</a> - IDE</p>
    <p><a href="https://atro.build">Astro</a> - Entorno de trabajo paginas estáticas</p>
    <p><a href="https://deepdreamgenerator.com">Deep Dream Generator</a> - De imagenes con estilo usando IA</p>
    <p><a href="https://brandmaker.io/">Brand maker</a> - Utilidad para Logos </p>
    <p><a href="https://www.figma.com/">Figma</a> - Entorno de diseño de bocetos</p>
    <p><a href="https://github.com">GitHub</a> - Repositorio web de proyectos Git</p>
    <p><a href="https://vercel.com">Vercel</a> - Servidor de alojamiento de servicios WEB</p>
   </td></tr></table>
</BaseLayout>