---
import BaseLayout from '../../layouts/BaseLayout.astro'
---
<BaseLayout title="Categorías">
  <h1>Categorías de herramientas.</h1>
  <table class="tabla_categorias">
  <tr>
  <th>Cat</th>
  <th>Descripción</th>
  <th>Imagen</th>
  </tr>
  <tr><td>Electricas</td><td>Herramientas electricas para todos los materiales</td></tr>
    <tr><td>Herramientas</td><td>Herramientas para todos los materiales</td></tr>
    <tr><td>Mecanicas</td><td>Herramientas mecanicas para todos los materiales</td></tr>
    <tr><td>Pinturas</td><td>Herramientas de pintura para todos los materiales</td></tr>
    <tr><td>Pulidoras</td><td>Herramientas de pulidora para todos los materiales</td></tr>
    <tr><td>Soldadoras</td><td>Herramientas de soldadora para todos los materiales</td></tr>
    <tr><td>Tornillos</td><td>Herramientas de tornillo para todos los materiales</td></tr>
    <tr><td>Tuberias</td><td>Herramientas de tuberia para todos los materiales</td></tr>


  </table>
</BaseLayout>