---
import BaseLayout from '../../layouts/BaseLayout.astro'
import CatTable from '../CatTable.astro'
---
<BaseLayout title="Categorías">
  <h1>Categorías del herramientas.</h1>
  <CatTable></CatTable>
</BaseLayout>