---
import BaseLayout from '../../layouts/BaseLayout.astro'
import logo_group from '../../assets/logo-group.svg'
import logo_ideo from '../../assets/logo-ideo.png'
import abatar from '../../assets/abatar.jpg'
---
<BaseLayout title="Acerca de...">
<div class="mapa">
    
    <iframe class="gmap" id="gmap_canvas" src="https://maps.google.com/maps?q=escuela%20ideo&t=&z=17&ie=UTF8&iwloc=&output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

<div class="contact-text">
<br><br><br><br><br><br>
<b>Talleres de la escuela Ideo</b><br>
ESCUELA IDEO<br>
Carretera de Colmenar a Alcobendas, Km. 0.5<br>
28049 Madrid<br>
Teléfono: 91 752 33 43
</div>
</BaseLayout>
