---

import BaseLayout from '../../layouts/BaseLayout.astro'
import HerrTable from '../her_table.astro'

---

<BaseLayout title="Herramientas">
  <h1>Herramientas.</h1>
  <HerrTable>
  </HerrTable>
</BaseLayout>
