---

import BaseLayout from '../../layouts/BaseLayout.astro'
import HerrTable from '../her_table.astro'

---

<BaseLayout title="Categorías">
  <h1>Herramientas del herramientas.</h1>
  <HerrTable>
  </HerrTable>
</BaseLayout>
