---
import BaseLayout from '../../layouts/BaseLayout.astro'
---
<BaseLayout title="Normas">
  <h1>Normas de los talleres</h1>
  <li>No molestar al jefe</li>
    <li>No molestar a los demás</li>
    <li>No jugar con las herramientas</li>
    <li>No tirar las herramientas por el aula</li>
    <li>Dejar todo en su sitio al finalizar cada sesión</li>
    <li>Si se rompe algo avisar al profesor que este con vosotros en ese momento</li>
    <li>No dejar nada enchufado mucho tiempo, se usa y se desenchufa</li>

</BaseLayout>