---
import BaseLayout from '../../layouts/BaseLayout.astro'
---
<BaseLayout title="Normas">
  <h1>Normas de los talleres</h1>
  <li>No molestar al jefe</li>
    <li>No molestar a los demás</li>
    <li>No molestar a los demás</li>

</BaseLayout>