<div class="pie">
  <p><b>Tecnologías de la Información y Comunicación I.</b> Primero de Bachillerato <b><a href="https://www.escuelaideo.edu.es">Escuela IDEO</a></b></p>
  <p>Autor de la página: Alvaro Quinteiro</p>
  
  <div class="links">
    <ul>
      <li>
        <a href="/about">Acerca de</a>
      </li>
      <li>
        <a href="/categorias">Catalogo de herramientas</a>
      </li>
      <li>
        <a href="/normas">Normas de taller</a>
      </li>
      <li>
        <a href="/contact">Contacto</a>
      </li>
    </ul>
  </div>
</div>