---
import Airtable from 'airtable';

let apiKey = import.meta.env.AIRTABLE_API_KEY;
console.log(apiKey);  
let airtable = new Airtable({apiKey}).base('appfwVamfnGoGJPNg');  // replace diego id with our own id
let cats = await airtable.table('Categorias').select(
    {
        view: "Grid view"
    }
).all();

const items = cats.map((record) => ({
    id: record.id,
    categoria: record.get('Categoria'),
    description: record.get('Descripcion'),
    images: record.get('Imagen'),
}));

//console.log(items);
---
    { 
items.map((item) => 
    (
       <div class="cat-card">
            <div class="cat-title">
                <h2><a href={"/herramienta/"+item.id}>{item.categoria}</a></h2>
            </div>
           {item.images?<img class="cat-image" src={item.images[0].url} alt="{item.images[0].filename}"/>:<div class="cat-image">'No hay imagen'</div>}
        </div>
    )
)
}
