---
import Airtable from 'airtable';

console.log("Astro.params");
console.log(Astro.params);
---
    <div class="toolsDiv" id="toolsGrid" style="color: #000000;">
    Cargando....
    
    </div>
<script>
        import Airtable from 'airtable';
        let urlSearchParams = new URLSearchParams(window.location.search);
        let params = Object.fromEntries(urlSearchParams.entries()); 
        let apiKey = import.meta.env.AIRTABLE_API_KEY_READONLY;  
        let airtable = new Airtable({apiKey:'keyi2pHJIBLUIGDZj'}).base('appfwVamfnGoGJPNg');  

        let categoria    = params.cat;
        console.log("i'm running in client?");
        console.log(window.document);
        let herramientas = await airtable.table('Herramientas').select(
    {
        view: "Grid view",
        //filterByFormula: '{Categoria} contains "' + categoria + '"',
        //filterByFormula: '{Categoria} = "' + categoria + '"',
        filterByFormula: `SEARCH("${categoria}",{Categoria})`,
    }
).all();

const items = herramientas.map((record) => ({
    id: record.id,
    name: record.get('Name'),
    categoria: record.get('Categoria'),
    description: record.get('Descripcion'),
    images: record.get('Imagen'),
}));
let tools_array = items.map((i) => {
    let parcial_html=""
    parcial_html += '<div class="tool">';
    parcial_html += '<div class="tool-image">';
    parcial_html += '<img src="'  + i.images[0].url + '" alt="' + i.description + '">';
    parcial_html += '</div>';
    parcial_html += '<div class="tool-info">';
    parcial_html += '<h3>' + i.name + '</h3>';
    parcial_html += '<p>' + i.description + '</p>';
    parcial_html += '</div>';
    parcial_html += '</div>\n';
    return parcial_html
});

    if(tools_array.length > 0){
        let final_html = tools_array.join("\n");
        document.getElementById("toolsGrid").innerHTML = final_html;
    }
    else{
        document.getElementById("toolsGrid").innerHTML = "<b>No hay herramientas para esta categoria</b>";
    }
    window.document.getElementById("toolsGrid").innerHTML = final_html;

    </script>